@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bruno+Ace&family=Gruppo&family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'rel='stylesheet');

body {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  //raleway, quicksand, montserrat, poppins, figtree?
  margin: 0;
}

.logo-container {
  display: flex;

  h2 {
    font-family: 'Bruno Ace', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
  }
}

.logo {
  margin-top: 20px;
  margin-left: -11px;
  margin-bottom: 20px;

  img {
    width: 80px;
    margin-right: -20px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed; /* Keeps the sidebar fixed on scroll */
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll */
  overflow-y: auto; /* Enables vertical scroll if content overflows */
  top: 0; /* Aligns the sidebar to the top of the viewport */
  left: 0; /* Aligns the sidebar to the left of the viewport */
  text-align: center;
  border-right: 1px solid rgba(128, 128, 128, 0.116);

  a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;

    &.active {
      background-color: #50b9ffb7;
      color: white;
    }

    .dashboard-link {
      display: flex;
      align-items: center; /* Vertically center the contents */

      svg {
        margin-left: 24px;
        margin-bottom: 8px;
      }

      span {
        margin-left: 8px; /* Adds space between the icon and text */
      }
    }

    .config-link {
      display: flex;
      align-items: center; /* Vertically center the contents */

      svg {
        margin-left: 29px;
        margin-bottom: 8px;
      }

      span {
        margin-left: 8px; /* Adds space between the icon and text */
      }
    }

    .user-link {
      display: flex;
      align-items: center; /* Vertically center the contents */

      svg {
        margin-left: 25px;
        margin-bottom: 8px;
      }

      span {
        margin-left: 14px; /* Adds space between the icon and text */
      }
    }
  }
}

.main-content {
  margin-left: 200px;
}

.dashboard-page {
  background-color: #dadada25;
  min-height: 100vh; /* Ensures background color covers the entire page */
}

.configure-page {
  background-color: #dadada25;
  min-height: 100vh;

  h2 {
    margin-left: 50px;
  }

  .config-form {
    margin-left: 120px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .name-fields {
      display: flex;
      justify-content: flex-start;
      max-width: 660px;

      div {
        margin-right: 20px;
        flex: 1; // makes app/function name divs take up equal space
        min-width: 350px; // sets a minimum width for the divs
        margin-bottom: -20px;

        &:first-child {
          margin-right: 60px; // adds space between the app/function name divs
        }

        label {
          display: block; // makes the label take up the full width of the div
          margin-bottom: 6px;
        }

        input {
          width: 100%; // makes the input take up the full width of the div
        }
      }
    }

    .url-div {
      margin-bottom: -5px;

      input {
        margin-top: 8px;
        width: 760px;
      }
    }

    .invRate-warmer-div {
      display: flex;
      align-items: center;

      label {
        margin-right: 10px;
      }

      input {
        margin-left: 5px;
        padding: 5px;
        margin-top: 0;
        margin-bottom: 0;
      }

      .warmer {
        margin-left: 40px;
      }
    }

    input {
      padding: 5px;
      margin-top: 5px;
      width: 300px;
      margin-bottom: 30px;
      border-radius: 5px;
      border: 1.4px solid #42424268;
    }

    label {
      font-size: 14px;
    }

    select {
      padding: 8px;
      border-radius: 4px;
      border-color: white;
      outline: none;
      background-color: white;
      border: 1px solid #e0e0e0;
      height: 21px;

      &:focus {
        outline: 1px solid #1a73e8;
      }
    }

    .switch {
      display: inline-flex;
      align-items: center;
      height: 36px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .switch input:checked + .slider {
      background-color: #2196f3;

      &:before {
        transform: translateX(16px);
      }
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    .slider {
      cursor: pointer;
      background-color: #ccc;
      transition: 0.4s;
      height: 20px;
      width: 37px;
      margin-left: 0px;

      &:before {
        content: '';
        height: 16px;
        width: 16px;
        background-color: white;
        transition: 0.4s;
        display: inline-block;
        margin: 2px;
      }

      &.round {
        border-radius: 34px;

        &:before {
          border-radius: 50%;
        }
      }
    }

    button {
      margin-top: 20px;
      padding: 5px 15px;
      background-color: #50b9ffb7;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #0175c2ca;
      }
    }

    span {
      color: green;
      margin-left: 15px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.user-page {
  background-color: #dadada25;
  min-height: 100vh;

  h2 {
    margin-left: 50px;
  }

  select {
    // padding: 8px;
    border-radius: 4px;
    border-color: white;
    outline: none;
    background-color: white;
    border: 1px solid #e0e0e0;
    height: 21px;

    &:focus {
      outline: 1px solid #1a73e8;
    }
  }

  .app-selection {
    margin-left: 120px;
    margin-bottom: 20px;

    label {
      margin-right: 10px;
    }

    select {
      cursor: pointer;
    }
  }

  .user-table {
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      text-align: center;
      padding: 12px 15px;
      border-bottom: 1px solid #e0e0e0;
      // &:not(:last-child) {
      //   border-right: 1px solid rgba(0, 0, 0, 0.057);
      // }
      &:last-child {
        text-align: center;
      }
    }

    th {
      background-color: #f5f5f5;
      color: #333;
      font-weight: bold;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.335);
    }

    tbody tr:hover {
      background-color: #fafafa;
    }

    button {
      background: transparent;
      border: none;
      padding: 0;
      outline: none;
      cursor: pointer;
    }
  }
}

// Width of the overview panel
$sidebar-width: 250px;
// Background color of the panel
$background-color: #a7c9e3;

.overview-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $sidebar-width;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $background-color;
  padding: 20px;
  overflow-y: auto;

  .side-by-side {
    display: flex;
    justify-content: space-between;

    > div {
      flex-basis: 48%;
    }
  }

  .separator-bar {
    height: 1.5px;
    background-color: rgba(128, 128, 128, 0.166);
    margin: 20px 0;
  }
}

.performance-table th,
.performance-table td {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.pings-table th,
.pings-table td {
  justify-content: space-between;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
